<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Sistema de Estoque</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="cabecalho">
            <a href="/fornecedores">
                <button>Fornecedores</button>
            </a>
            <a href="">
                <button>Estoque</button>
            </a>
            <a href="">
                <button>Compras</button>
            </a>
            <a href="">
                <button>Gastos</button>
            </a>
            <a href="/perfil" id="perfil">
                <img src="{{ url_for('static', filename='img/perfil.png')}}" alt="Perfil">
            </a>
        </div>
        <hr>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>