<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Sistema de Estoque</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="cabecalho">
            <h5>Cabeçalho</h5>
        </div>
        <hr>
        <div class="botoes_lateral">
            <h5>Menu</h5>
            <button>Botão 1</button>
            <button>Botão 2</button>
            <button>Botão 3</button>
            <button>Botão 4</button>
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>