{% extends "base.html" %}

{% block title %}Fornecedores{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fornecedores_css.css')}}">
{% endblock %}


{% block content %}
    <table border="1">
        <tr>
            <td>Nome</td>
            <td>Produto/s</td>
            <td>Contato</td>
            <td></td>
        </tr>
        {% for fornecedor in fornecedores %}
        <tr> 
            <td>{{ fornecedor.Nome }}</td>
            <td>{{ fornecedor.Produtos }}</td>
            <td>{{ fornecedor.Contato }}</td>
            <td class="acao">
                <img src="{{ url_for('static', filename='img/edicao.png')}}" alt="Edição">
                <img src="{{ url_for('static', filename='img/lixeira.png')}}" alt="Lixeira">
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/adicionar_fornecedores" class="adicionar">
        <img src="{{ url_for('static', filename='img/adicionar.png')}}" alt="Adicionar">
    </a>
{% endblock %}